.cards{
	display: flex;
	flex-wrap: wrap;
}

.card{
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin: 10px;
	flex-basis: 250px;
	flex-grow: 1;

}

.card img{
	width: 150px;
	border-radius: 6px;

}

.card h3{
	flex-grow: 1;
	padding-left: 20px;
	font-size: 18px;
}

.card-white{
	background-color: black;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin:80px 0px;
	text-align: center;
	color: #232F3E;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding:10px;
}

.list-inline i{
	font-size: 50px;
	color: rgb(230,230,230);
}

.list-inline i:hover{
	color:black;
}

#Q, #C, #Co, p, h2{
	text-align: center;
}

#Q, #C, #Co, h2{
	color: #232F3E;
}

body{
	background-color: #F3F3F3;
}